<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <meta charset="utf-8">
    <title>mdMirror example</title>
</head>
<body><%- content %></body>
</html>
